<h1>Demo#hello</h1>
<p>Hello World</p>

<% li = 1+1 %>
<%= li*5 %>

<% target = "Hello World" %>
<%= "Hello #{target}" %>

<% @array.each do |i| %>

	<%= i %>
	<br/>
<% end %>



<a href="/demo/index">Hello Index 1</a>
<br/>
<%= link_to('Hello Index 2',{controller: 'demo', action: 'index'}) %>

<%= @id %>
ID is : <%= @id %><br/>
ID is : <%= params[:id] %><br/>

Next year's age is : <%= @age + 1%><br/>

<hr/>
<%= params.inspect %>